.btn, a.btn{
	padding: 9px 15px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #FFFFFF;
	transition: all 0.2s;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	user-select: none;
	font-family: @global_font;
	font-size: @global_font_size_button;
	line-height: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	position: relative;
	&:hover{
		
	}
	&:active{
		
	}
	&.look{
		padding: 17px 30px;
		padding-right: 60px;
		background: @button_bg;
		border: 2px solid @orange;
		&:after{
			content: '';
			position: absolute;
			right: 30px;
			top: 14px;
			background: url("img/arrow_look.svg");
			width: 16px;
			height: 16px;
		}
		&:hover{
			background: @orange;
		}
		&:active{
			background: @orange;
		}
	}
}